@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Coluna";
    src: url("assets/Coluna.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
};